<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pfpsc.dao.ChargeFunctionMapper">
  <resultMap id="BaseResultMap" type="pfpsc.pojo.ChargeFunction">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="referenceNum" jdbcType="INTEGER" property="referencenum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="pfpsc.pojo.ChargeFunction">
    <result column="function" jdbcType="LONGVARCHAR" property="function" />
  </resultMap>
  <sql id="Base_Column_List">
    id, referenceNum
  </sql>
  <sql id="Blob_Column_List">
    function
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from c_chargefunction
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_chargefunction
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pfpsc.pojo.ChargeFunction">
    insert into c_chargefunction (id, referenceNum, function
      )
    values (#{id,jdbcType=INTEGER}, #{referencenum,jdbcType=INTEGER}, #{function,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pfpsc.pojo.ChargeFunction">
    insert into c_chargefunction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="referencenum != null">
        referenceNum,
      </if>
      <if test="function != null">
        function,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="referencenum != null">
        #{referencenum,jdbcType=INTEGER},
      </if>
      <if test="function != null">
        #{function,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pfpsc.pojo.ChargeFunction">
    update c_chargefunction
    <set>
      <if test="referencenum != null">
        referenceNum = #{referencenum,jdbcType=INTEGER},
      </if>
      <if test="function != null">
        function = #{function,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="pfpsc.pojo.ChargeFunction">
    update c_chargefunction
    set referenceNum = #{referencenum,jdbcType=INTEGER},
      function = #{function,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pfpsc.pojo.ChargeFunction">
    update c_chargefunction
    set referenceNum = #{referencenum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>