<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pfpsc.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="pfpsc.pojo.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="e_state" jdbcType="INTEGER" property="eState" />
    <result column="u_user_id_customer" jdbcType="INTEGER" property="uUserIdCustomer" />
    <result column="u_user_id_shopper" jdbcType="INTEGER" property="uUserIdShopper" />
  </resultMap>
  <sql id="Base_Column_List">
    id, e_state, u_user_id_customer, u_user_id_shopper
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pfpsc.pojo.Order">
    insert into o_order (id, e_state, u_user_id_customer, 
      u_user_id_shopper)
    values (#{id,jdbcType=INTEGER}, #{eState,jdbcType=INTEGER}, #{uUserIdCustomer,jdbcType=INTEGER}, 
      #{uUserIdShopper,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pfpsc.pojo.Order">
    insert into o_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eState != null">
        e_state,
      </if>
      <if test="uUserIdCustomer != null">
        u_user_id_customer,
      </if>
      <if test="uUserIdShopper != null">
        u_user_id_shopper,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eState != null">
        #{eState,jdbcType=INTEGER},
      </if>
      <if test="uUserIdCustomer != null">
        #{uUserIdCustomer,jdbcType=INTEGER},
      </if>
      <if test="uUserIdShopper != null">
        #{uUserIdShopper,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pfpsc.pojo.Order">
    update o_order
    <set>
      <if test="eState != null">
        e_state = #{eState,jdbcType=INTEGER},
      </if>
      <if test="uUserIdCustomer != null">
        u_user_id_customer = #{uUserIdCustomer,jdbcType=INTEGER},
      </if>
      <if test="uUserIdShopper != null">
        u_user_id_shopper = #{uUserIdShopper,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pfpsc.pojo.Order">
    update o_order
    set e_state = #{eState,jdbcType=INTEGER},
      u_user_id_customer = #{uUserIdCustomer,jdbcType=INTEGER},
      u_user_id_shopper = #{uUserIdShopper,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>