<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pfpsc.dao.UserDocumentMapper">
  <resultMap id="BaseResultMap" type="pfpsc.pojo.UserDocument">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sha256" jdbcType="CHAR" property="sha256" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="expiretime" jdbcType="TIMESTAMP" property="expiretime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sha256, name, addtime, expiretime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pfpsc.pojo.UserDocument">
    insert into f_file (id, sha256, name, 
      addtime, expiretime)
    values (#{id,jdbcType=INTEGER}, #{sha256,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{expiretime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="pfpsc.pojo.UserDocument">
    insert into f_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sha256 != null">
        sha256,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="expiretime != null">
        expiretime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sha256 != null">
        #{sha256,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null">
        #{expiretime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pfpsc.pojo.UserDocument">
    update f_file
    <set>
      <if test="sha256 != null">
        sha256 = #{sha256,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null">
        expiretime = #{expiretime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pfpsc.pojo.UserDocument">
    update f_file
    set sha256 = #{sha256,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      expiretime = #{expiretime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>